<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="dnnNeatUpload" type="DotNetNuke.Professional.Brettle.Web.NeatUpload.ConfigSectionHandler, DotNetNuke.Professional.Brettle.Web.NeatUpload" allowLocation="true" />
  </configSections>
  <location path="FileUploaderPage.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
    </system.web>
    <dnnNeatUpload xmlns="http://www.brettle.com/neatupload/config/2008" useHttpModule="true" />
  </location>
</configuration>