<?xml version="1.0"?>
<config>
    <views>
        <view key="admin_dashboard" title="Dashboard" path="~/desktopmodules/pro_commerce/views/admin_dashboard.ascx" permissions="">
            <text><![CDATA[<b class="dnn-modcp-icon home16"></b><span>[RESX:Dashboard]</span>]]></text>
        </view>
        <view key="admin_orders_list" title="Orders" path="~/desktopmodules/commerce/admin/admin_orders_list.ascx" permissions="MANAGE,EDIT,ORDERAMIN,ORDERCREATE,ORDEREDIT">
            <text></text>
        </view>
        <view key="admin_products_list" title="[RESX:Products]" path="~/desktopmodules/pro_commerce/views/admin_products_list.ascx" permissions="PRODUCTADMIN">
            <text></text>
        </view>
        <view key="admin_discounts_list" title="Discounts" path="~/desktopmodules/commerce/admin/admin_discounts_list.ascx" permissions="MANAGE">
            <text><![CDATA[<b class="am-icon-discounts32"></b><span>[RESX:DiscountsCoupons]</span>]]></text>
        </view>
        <view key="admin_customers_list" title="Customers" path="~/desktopmodules/commerce/admin/admin_customers_list.ascx" permissions="MANAGE">
            <text><![CDATA[<b class="am-icon-customers32"></b><span>[RESX:Customers]</span>]]></text>
        </view>
        <view key="admin_settings" title="Settings" path="~/desktopmodules/commerce/controls/admin_settings.ascx" permissions="MANAGE">
            <text><![CDATA[<b class="am-icon-options32"></b><span>[RESX:Settings]</span>]]></text>
        </view>
        <view key="admin_home" title="Exit" path="~/desktopmodules/commerce/controls/admin_home.ascx" permissions="">
            <text><![CDATA[<b class="am-icon-exit32"></b><span>[RESX:Exit]</span>]]></text>
        </view>
    </views>
</config>
