<?xml version="1.0" encoding="utf-8" ?>
<config>
	<settings>
		<setting name="OrderSeed" value="1000" />
		<setting name="PaymentAssembly" value="DotNetNuke.Professional.Commerce" />
		<setting name="PaymentClass" value="DotNetNuke.Professional.Commerce.Payments.Providers.AuthorizeNet" />
        <setting name="PaymentURL" value="https://secure.authorize.net/gateway/transact.dll" />
		<setting name="Sources" value="Web,Phone,Other" />
		<setting name="DateFormat" value="MM/dd/yyyy" />
		<setting name="TimeFormat" value="hh:mm tt" />
        <setting name="Theme" value="_default" />
	</settings>
	<statuslist>
		<status statusid="-1" statusname="Complete" />
		<status statusid="-1" statusname="Pending Payment" />
		<status statusid="-1" statusname="Processing" />
		<status statusid="-1" statusname="Shipped" />
		<status statusid="-1" statusname="Cancelled" />
	</statuslist>
	<steps>
		<step stepid="" stepname="Welcome" stepdesc="Welcome page for describing ordering process" steptype="0" sortorder="1"  stepcontent="Enter content to be displayed here." importfile="" filename="view_welcome.ascx"  />
		<step stepid="" stepname="Products" stepdesc="Your list of products" steptype="1" sortorder="2"  stepcontent="" importfile="~/DesktopModules/dnncorp/commerce/config/templates/steps_productlist.txt" filename="view_product_list.ascx"  />
		<step stepid="" stepname="Address Information" stepdesc="Capture customer information" steptype="4" sortorder="3"  stepcontent="" importfile="" filename="view_customer_address.ascx"  />
		<step stepid="" stepname="Select Payment Method" stepdesc="Enter Payment Information" steptype="5" sortorder="4"  stepcontent="" importfile="" filename="view_payment_select.ascx"  />
		<step stepid="" stepname="Process Payment" stepdesc="Used for processing PayPal Payments" steptype="6" sortorder="5"  stepcontent="" importfile="" filename="view_payment_capture.ascx"  />
		<step stepid="" stepname="Receipt" stepdesc="Display Customer order details" steptype="7" sortorder="6"  stepcontent="" importfile="~/DesktopModules/dnncorp/commerce/config/templates/steps_receipt.txt" filename="view_receipt.ascx"  />
		<step stepid="" stepname="Finished" stepdesc="Display any additional information to customer." steptype="8" sortorder="7"  stepcontent="Thank you for your order" importfile="" filename="view_finished.ascx"  />
	</steps>
	<templates>
		<template templateid="" templatetitle="New Customer Template" templatesubject="Welcome to [PORTAL:PORTALNAME]" importfilehtml="~/DesktopModules/dnncorp/commerce/config/templates/email_newuser_html.txt" importfiletext="~/DesktopModules/dnncorp/commerce/config/templates/email_newuser_text.txt" />	   
		<template templateid="" templatetitle="Order Details Template" templatesubject="Thank you for your order from [PORTAL:PORTALNAME]" importfilehtml="~/DesktopModules/dnncorp/commerce/config/templates/email_orderdetails_html.txt" importfiletext="~/DesktopModules/dnncorp/commerce/config/templates/email_orderdetails_text.txt" />
		<template templateid="" templatetitle="Admin Order Notification" templatesubject="You have received a new order" importfilehtml="~/DesktopModules/dnncorp/commerce/config/templates/email_adminordernotify_html.txt" importfiletext="~/DesktopModules/dnncorp/commerce/config/templates/email_adminordernotify_text.txt" />
		<template templateid="" templatetitle="Order Shipment Notification" templatesubject="Your order has been shipped." importfilehtml="~/DesktopModules/dnncorp/commerce/config/templates/email_shipordernotify_html.txt" importfiletext="~/DesktopModules/dnncorp/commerce/config/templates/email_shipordernotify_text.txt" />
		<template templateid="" templatetitle="Order Pending Payment" templatesubject="Your order is pending payment." importfilehtml="~/DesktopModules/dnncorp/commerce/config/templates/email_orderpending_html.txt" importfiletext="~/DesktopModules/dnncorp/commerce/config/templates/email_orderpending_text.txt" />
	</templates>
	<productgroups>
		<productgroup productgroupid="" productgroupname="My Products" />	   
	</productgroups>
	<products>
		<product productid="" productname="Widget 1" productsku="WIDGET1" productdesc="Just a widget" price="5.00" cost="1.00" sortorder="1"  />
		<product productid="" productname="Module 1" productsku="MODULE1" productdesc="Just a module" price="50.00" cost="25.00" sortorder="2"  />
	</products>
</config>
