.greenborder
{
	margin:0;
	padding:1px 10px 1px 10px;
	background-color:#98c670;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-radius-bottomleft: 20px;
}

.whitegreenborder
{
	margin:0;
	background-color:#ffffff;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-radius-bottomleft: 20px;
	text-align:left;
}


















































































































































































































































